
/* fix mobile scaling by scaling height instead of width */

@font-face {

    font-family: "OpenDyslexic";
    src: url("fonts/OpenDyslexic/Regular.ttf");
}

@font-face {

    font-family: "OpenDyslexic";
    src: url("fonts/OpenDyslexic/Bold.ttf");
    font-weight: bold;
}

* {

    text-align: center;
    font-family: OpenDyslexic;
    font-size: 1vw;
}

body {

    background-color: white;
}

div {

    background-color: #ededee;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1em;
}

h {

    font-size: 5vw;
}

#moustache {

    margin: 2em;
    width: 40%;
    transition-duration: 0.1s;
    animation-fill-mode: forwards;
}

#moustache:hover {

    cursor: pointer;
    transform: scale(105%);
}

form, input {

    border: none;
    border-radius: 1em;
}

input {

    margin: 0.2em;
}

input[type=submit] {

    padding: 1em 2em 1em 2em;
    background-color: white;
}

input[type=submit]:hover {

    cursor: pointer;
    filter: brightness(80%);
}

table, th, tr, td {

	table-layout: fixed;
	position: relative;
	margin: auto;
	padding: 0 2em 0 2em;
	border-collapse: collapse;
}